
*.pyc

.ipynb_checkpoints/Metadata extraction testing-checkpoint.ipynb

.ipynb_checkpoints/Testing extraction code-checkpoint.ipynb

AllEmails.csv
TestOut.csv

TestOut.csv

Top200.csv

TopActorWaits.csv

*.pickle

*.csv

*.gml

*.graphml

*.xlsx
